.LoginSplitScreen{
    color: white;
    height: 100vh;
    display: flex;
}
@media screen and (max-width: 700px){
    .LoginSplitScreen{
        flex-direction: column;
    }
}
.copy{
    text-align: center;
}
.copy2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.LoginLeft{
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.LoginRight{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-image: url('https://res.cloudinary.com/yachtimeapp/image/upload/v1654208802/api-img/cwprw9olvqm9xtpehlyi.jpg');
}

.btn{
    margin: 1em 0;
    width: 100%;
    background-color: #1d304f;  
    color: white;
    font-weight: 700;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius: .5em;
    transition: all .3s ease;
}
.btn:hover{
    cursor: pointer;
    transform: scale(1.03);
}
.goBackLogin a{
    text-decoration: none;
    color: red;
    font-weight: bold;
    transition: all .3s ease;
}
.goBackLogin a:hover{
    transform: scale(1.05);
}