.google-btn{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    background-color: #1d304f ;
    padding-left:10px ;
    transition: all .3s ease;
}
.google-btn:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.google-icon-wrapper{
    height: 100%;
}

.btn-text{
    padding: .8em;
    font-weight: bold;
}