.Conteiner-Card{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
z-index: 0;

}
.Profile-Card{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
    border: 5px solid #9b9a9a8a;
    background-image: url("https://images.alphacoders.com/238/thumb-1920-238803.jpg");
    color: rgba(226, 226, 226, 0.884) ;
    border-radius: 16px 16px 16px 16px;
    -webkit-box-shadow: 12px 15px 20px 7px rgba(28,73,186,0.82); 
box-shadow: 12px 15px 20px 7px rgba(28,73,186,0.82);
margin:2rem;
padding:1rem;
}
.Login-header{
    display: flex;
    width: 50%;
    min-height: 15vh;
    min-width: 30vh;
    flex-direction: column;
    align-content: center;
    align-items: center;
    border: 10px outset rgba(132, 132, 202, 0.281);
    border-radius: 10px;
    justify-content: center;
}
.Login{
    display: flex;
    background-color: #19253a;
    height:100vh;
    margin: auto;
    flex-direction: column;
    align-content: center;
    align-items: center;
    
}
/* button {
    background-color:rgba(184, 6, 6, 0.912);
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid black;
} */
img{
    height: 100%;
    

}
/* Button {
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #9b9a9a;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:5px 24px;
    margin:15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 35px;

}
Button:hover {
	background:linear-gradient(to bottom, #f5ecde 5%, #b4b4b4 100%);
	background-color:#a5a5a5;
}
Button:active {
	position:relative;
	top:1px;
} */
