.container {
   width: 100%;
   background-image: url('./DoubleShotExterior51.jpg');
   display: flex;
   justify-content: center;
   align-items: center;
   background-repeat: no-repeat;
   background-size: cover;
   padding: 2em;
   padding-top: 5em;
}

.ContactUs {
   display: flex;
   flex-direction: row-reverse;
   justify-content: center;
   align-items: center;
   padding: 5px;

   color: #fff;
}
.Titulo {
   color: white;
   margin-left: 1rem;
}

.data {
   display: flex;
   flex-direction: column;
   color: #fff;
   justify-content: center;
   align-items: center;
   height: 100%;
}
.contact-form {
   height: 70vh;
   background: #3b3b3baf;
   padding: 1em;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   gap: 1em;
}
.divUbicacion{
   height: 100%;
}


