.change_DataUser_imgProfile{
    width: 100%;
    transition: all .3s ease;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1em;
}
.change_DataUser_imgProfile img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 1px 1px 20px rgb(255, 255, 255);
    display: flex;
    justify-self: end;

}
.change_DataUser_imgProfile img:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.backdataUser{
    background-image: url('https://res.cloudinary.com/yachtimeapp/image/upload/v1654222872/api-img/vjujcowtrda6tf22o9mp.jpg');
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.changeDataContainer{
    color: white;
    padding: 2em;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}