.nav {
   display: flex;
   position: fixed;
   width: 100%;
   height: 5rem;
   padding: 5px;
   background-color: #17181c00;
   transition: all 300ms;
   z-index: 100;
}

.navScroll {
   display: flex;
   position: fixed;
   width: 100%;
   height: 5rem;
   padding: 5px;
   background-color: #17181c;
   transition: all 300ms;
   z-index: 100;
}
.imgYT {
   min-width: 200px;
   width: 30%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   cursor: pointer;
   margin-left: 30px;
}
.img {
   border: none;
   width: 18rem;
   cursor: pointer;
}

.ulDiv {
   width: 100%;
   display: flex;
   margin-right: 2rem;
   justify-content: flex-end;
}

.ulEnlaces {
   display: flex;
   list-style: none;
   gap: 2rem;
}

.ulEnlaces > li {
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.ulEnlaces li img {
   border-radius: 50%;
   width: 50px;
   height: 50px;
}

.enlace {
   text-decoration: none;
   color: #fff;
   font-weight: 400;
   cursor: pointer;
   text-transform: uppercase;
   transition: all 0.3s ease;
}
.enlace:hover {
   color: #79d1fa;
}
.enlace:hover::after {
   content: '';
   display: block;
   width: 100%;
   height: 1px;
   background-color: #43b1e5;
}

.btmnav {
   display: none;
}

@media screen and (max-width: 500px) {
   .ulEnlaces {
      display: none;
   }
   .ulDiv {
      display: none;
   }
   .img {
      margin-left: -1.3rem;
   }
   .btmnav {
      display: block;
   }
}
