.uploadingContainer {
   display: flex;
   flex-direction: column;
   height: 100%;
   width: 100%;
}

.imgContainer {
   height: 13rem;
   overflow: auto;
   display: flex;
   justify-content: flex-start;
   align-items: center;
}

.deleteButton {
   background-color: red;
   color: white;
   border :none;
   padding: 5px;
   font-size: 2vh;
}

::-webkit-scrollbar {
   background-color: #fff;
}

::-webkit-scrollbar-thumb {
   background-color: rgb(39, 37, 37);
   border-radius: 0.5rem;
}
