.cardCrewBta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
    gap: 1em;
    /* filter: blur(10px); */
}
.cardCrewBta_content{
    display: flex;
    justify-content: center;
}
.cardCrewBta img {
    width: 70%;
    border-radius: 50%;
}