@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Nunito:wght@200;300;400&family=Source+Sans+Pro:wght@300&display=swap');

.bannerHome{
    background-image: url('./logo/fondo_yacht_2.jpg');
    /* background-position-x: -199px; */
    background-repeat: no-repeat;
    background-position: center;
    height: 22.8rem;
    width: 100%;
}

.banner{
    height: 22.7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.219);
}

.titleBanner{
    color: #fff;
    font-weight: 700;
    font-size: 50px;
    font-family:'Nunito';
}

.city{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
}