@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Nunito:wght@200;300;400&family=Source+Sans+Pro:wght@300&display=swap');

.bannerHome {
   background-image: url('./logo/photo1653261458.jpeg');
   /* background-position-x: -199px; */
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   height: 100vh;
   width: 100%;
}

.banner {
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   background: rgba(2, 15, 36, 0.5);
   background: linear-gradient(
      180deg,
      rgba(2, 2, 2, 0.1) 0%,
      rgba(0, 0, 0, 0.5) 98%
   );
   z-index: 1;

   /* background-color: rgb(0 97 255 / 22%); */
}
.bannerText {
   display: flex;
   flex-direction: column;
   padding: 30px 0;
   justify-content: center;
   align-items: center;
}
.titleBanner {
   color: #fff;
   font-weight: 700;
   font-size: 50px;
   font-family: 'Nunito';
}

.city {
   color: #fff;
   font-size: 20px;
   font-weight: 600;
   text-transform: uppercase;
}

.select {
   width: 65%;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 1rem;
}

.size,
.duration {
   display: flex;
   flex-direction: column;
   padding: 7px;
   background-color: #fff;
   width: 100%;
}

.size h3,
.duration > h3 {
   font-size: small;
   font-family: 'Avenir Next', 'Avenir', 'Avenir Heavy', Helvetica, Arial,
      sans-serif;
   color: rgb(187, 184, 184);
}

.size > select,
.duration > select {
   min-height: 30px;
   height: 100%;
   background-color: #fff;
   border: transparent;
   width: 100%;
   color: rgb(187, 184, 184);
   outline: none;
   cursor: pointer;
}

.iconSearch {
   display: flex;
   height: 100%;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: #43b1e5;
   cursor: pointer;
   transition: all 300ms;
}

.iconSearch:hover {
   background-color: #27627d;
}

.iconSearch > svg {
   color: white;
   font-size: 30px;
}
/*---------------------*/

.charter {
   font-size: 54px;
   color: white;
   letter-spacing: -0.1rem;
   font-weight: 100;
   text-align: center;
   font-family: 'Avenir Next', 'Avenir', 'Avenir Heavy', Helvetica, Arial,
      sans-serif;
}
.listado {
   display: flex;
   padding: 0;
   height: 100vh;
   width: 400%;
   margin: auto;
   animation: cambio 40s infinite alternate linear;
}

.container {
   width: 100%;
   margin: auto;
   overflow: hidden;
}

.eachSlide {
   width: 100%;
   list-style: none;
}

.eachImg {
   width: 100%;
   height: 100%;
}

.prueba {
   width: 100%;
   height: 100vh;
   position: absolute;
   background: linear-gradient(
      180deg,
      rgba(2, 2, 2, 0) 0%,
      rgba(0, 0, 0, 0.6) 98%
   );
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding-top: 25vh;
   align-items: center;
}

.selectBox {
   width: 25vw;
   height: 8vh;
   background-color: white;
   display: flex;
   flex-direction: row-reverse;
}

.selector {
   border: 0vh;
   outline: none;
   height: 2.4rem;
   display: flex;
   justify-content: center;
   cursor: pointer;
}

.selc {
   width: 40%;
   display: flex;
   flex-direction: column;
}

@keyframes cambio {
   0% {
      margin-left: 0;
   }
   15% {
      margin-left: 0;
   }
   25% {
      margin-left: -100%;
   }
   40% {
      margin-left: -100%;
   }
   50% {
      margin-left: -200%;
   }
   75% {
      margin-left: -200%;
   }
   85% {
      margin-left: -300%;
   }
   100% {
      margin-left: -300%;
   }
}
