.container{
display: flex;
    height: 100vh;
    width: 100vw ;
    align-self: auto;
    justify-content: center;
    align-items: center;
}
.gif{

    height: 25%;
    width: 25%;
    align-self: auto;
    border-radius: 50%;

}