@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

/* Toggle Styles */

#viewport {
  padding-left: 250px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#content {
  width: 100%;
  position: relative;
  margin-right: 0;
}

/* Sidebar Styles */

#sidebar {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 250px;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: #2f3139;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar header {
  font-size: 20px;
  line-height: 52px;
  text-align: center;
}


/* #sidebar .nav{
  
} */
.imgYTw{
  min-width: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.imgw{ 
  margin: auto;
  border: none;
  height: 50px;
  width: 80%;
}

#sidebar .nav a{
  background: none;
  text-decoration: none;
  color: #CFD8DC;
  font-size: 1rem;
  padding: 20px 24px;
  display: flex;
  border-bottom: 1px solid grey;
  transition: all .5s ease;
}
#sidebar .nav li {
  width: 100%;
}

#sidebar .nav a:hover{
  background: none;
  background-color: #76bbe9;
}

#sidebar .nav a i{
  margin-right: 16px;
  min-width: 18px;
  text-align: center;
}
